{% extends 'base.html' %} 
{% load static %}
{% block body%}
<div id="layoutSidenav_content">
<div class="card-body">
        <h3 style="text-align: center;">Get In Touch</h3>
        <br>
<div class="row">
  {% for Faculty in faculties%}
      
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{Note.faculty.name}}</h5>
        <a href="{% url 'notesingle' %}" class="btn btn-primary">Click</a>
      </div>
    </div>
  </div>
 

  {% endfor %}
 
 

 
 
</div>
</div>
</div>

{% endblock body%}