{% extends 'system/base.html' %} 
{% load static %}
 {% block head%} Dashboard{% endblock head%} 
 {% block body%}

          </br>

      
<div id="layoutSidenav_content">
<div class="card-body">
   			<h3 style="text-align: center;">Create Student Details</h3>



  <form action="" method="post">
	{% csrf_token %}
        {{ form.name.label }}:
      <br>
        {{ form.name }}
      <br>
      <br>
        {{ form.faculty.label }}:
      <br>
        {{ form.faculty }}
      <br>
      <br>
        {{ form.address1.label }}:
      <br>
        {{ form.address1 }}
      <br>
      <br>
        {{ form.address2.label }}:
      <br>
        {{ form.address2 }}
      <br>
      <br>
        {{ form.batch.label }}:
      <br>
        {{ form.batch }}
      <br>
      <br>
        {{ form.email.label }}:
      <br>
        {{ form.email }}
      <br>
      <br>
	<input type="submit">
	
</form>

  </div>
  </div>
        {% endblock body%}