{% extends 'system/base.html' %} 
{% load static %}
 {% block head%} Dashboard{% endblock head%} 
 {% block body%}

          </br>

      

          </br>

      
<div id="layoutSidenav_content">
<div class="card-body">

   			<h3 style="text-align: center;">Add Notes</h3>


  <form action="" method="post">
	{% csrf_token %}
    
      <br>
      <br>
        {{ form.semester.label }}:
      <br>
        {{ form.semester }}
      <br>
      <br>
        {{ form.title.label }}:
      <br>
        {{ form.title }}
      <br>
      <br>
        {{ form.docfile.label }}:
      <br>
        {{ form.docfile }}
      <br>
      <br>
        {{ form.description.label }}:
      <br>
        {{ form.description }}
      <br>
      <br>
      
	<input type="submit">
	
</form>

  </div>
  </div>
        {% endblock body%}