{% extends 'system/base.html' %} 
{% load static %}
{% block body%}
<div id="layoutSidenav_content">
<div class="card-body">
        <h3 style="text-align: center;">Get In Touch</h3>
        <br>
<div class="row">
                    {% for notes in data%}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{notes.title}}</h5>
        <p class="card-text">{{notes.description}}</p>
        <p class="card-text">{{notes.semester}}</p>
        <a href="{{notes.docfile}}" class="btn btn-primary">Download</a>
      </div>
    </div>
  </div>

 {% endfor %}
 
 

 
 
</div>
</div>
</div>

{% endblock body%}