{% extends 'base.html' %}
{% load static %}

{% block body %}
   <div id="layoutSidenav_content">
	<div class="card card-body">
      		<div class="card" style="width: 18rem;">
                   	<div class="card card-body">

			  			<h3 style="text-align: center;">Get In Touch</h3>


<form id="contact-form" method="POST" action="">
				{% csrf_token %}
				<a name="contact"></a>

				<label>Name</label>
				<input required class="input-field" type="text" name="name">

				<label>Subject</label>
				<input required class="input-field" type="text" name="subject">

				<label>Email</label>
				<input required class="input-field" type="text" name="email">

				<label>Message</label>
				<textarea required class="input-field" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Send">
</form>
  </div>
  </div>
  </div>
  </div>
{% endblock body %}