{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="layoutSidenav_content">
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Contact</h3></div>
                                    <div class="card-body">
                                        <form>
                                              <div class="form-group">
                                                        <label  for="inputLastName">Name</label>
                                                        <input class="form-control py-4" id="inputLastName" name="name" type="text" placeholder="Enter your name" />
                                                </div>
                                              <div class="form-group">
                                                        <label  for="inputLastName">Subject</label>
                                                        <input class="form-control py-4" id="inputLastName"  name="subject" type="text" placeholder="Enter your name" />
                                                </div>
                                          
                                            <div class="form-group">
                                                <label for="inputEmail">Email</label>
                                                <input class="form-control py-4" id="inputEmail" type="email" name="email" placeholder="Enter phone number" />
                                            </div>
                                             <div class="form-group">
                                     <label for="exampleFormControlTextarea1">Message</label>
                                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1"  rows="3"></textarea>
                                         </div>
                                         
                                         
                                             <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                               
                                                <a class="btn btn-primary" href="{% url 'login' %}">Send</a>
                                            </div>
                                        </form>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
            
            </div>
        </div>
        </div>
       
{% endblock body %}