{% extends 'base.html' %} 
{% load static %}
 {% block head%} Dashboard{% endblock head%} 
 {% block body %}
   <div id="layoutSidenav_content">
	<div class="card card-body">
      		<div class="card" style="width: 18rem;">
                   	<div class="card card-body">

			  			<h3 style="text-align: center;">Get In Touch</h3>


<form action="" method="post">
	{% csrf_token %}
       <label>Name</label>
        {{ form.name }}
    
     <label>Faculty</label>
        {{ form.faculty }}
     
       	<label>Address1</label>
        {{ form.address1 }}
   
       	<label>Address2</label>
        {{ form.address2 }}
   
       
      
        <label>Batch</label>
        {{form.batch }}
    
      <label>Email</label>
    
        {{ form.email }}
  
	<input type="submit">
	
</form>
  </div>
  </div>
  </div>
  </div>
        {% endblock body%}