{% extends 'base.html' %} 
{% load static %}
{% block body%}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Tables</h1>
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Well done!</h4>
                                <p>{{ message }} </p>
                               </div>
                            {% endfor %}
                        {% endif %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                               Engineering Student DataTable 
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Faculty</th>
                                                <th>Permanent address</th>
                                                <th>Phone Number</th>
                                                <th>Batch</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                             <tr>
                                                <th>Name</th>
                                                <th>Faculty</th>
                                                <th>Permanent address</th>
                                                <th>Phone Number</th>
                                                <th>Batch</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>

                              {% for table in tables%}
                                            <tr>
                                                <td>{{table.name}}</td>
                                                <td>{{table.faculty}}</td>
                                                <td>{{table.permanent}}</td>
                                                <td>{{table.phone}}</td>
                                                <td>{{table.batch}}</td>
                                                <td>{{table.email}}</td>
                                                <th><a class="btn btn-primary" href="/studenttable/edit/{{table.id}}/" role="button">Edit</a>
                                                    <a class="btn btn-danger" href="/studenttable/delete/{{table.id}}/" role="button">Delete</a>
                                                </th>
                                              
                                            </tr>

                                      {% endfor %}
                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
             
            </div>
        </div>
       {% endblock body%}